@import url(//db.onlinewebfonts.com/c/6a28a1fb5b77054a12626d0c23c92aa2?family=CeraCY-Bold);

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #20262a;
}

/* section {
    width: 100%;
    height: 100vh;
    background-color: #20262a;
} */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/nyc-skyline.png);
    background-size: cover;
    position: relative;
}

.hero > h2 {
    font-family: 'CeraCY-Bold', sans-serif ;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 4px 7px #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 20vh;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, 
    rgba(32, 38, 42, 1) 20%,
    rgba(32, 38, 42, .7) 40%,
    rgba(32, 38, 42, .4) 60%,  
    rgba(32, 38, 42, 0) 100%);
}

p {
    width: 100%;
    padding: 0 10rem 10rem;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}